
body{
    background-color: black;
}

img{
    border: 2px solid white;
    margin:56px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
}

p{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: small;
}

